<ul class="media-list">
  <li class="media" ng-repeat="cheep in firehose">
    <a class="media-left" ng-href="/#/users/{{ cheep.author.id }}">
      <img class="media-object" width="64px" height="64px" ng-src="{{ cheep.author.avatar_url }}" alt="{{ cheep.author.name }}'s avatar">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a ng-href="/#/users/{{ cheep.author.id }}">{{ cheep.author.name }}</a> <small>@{{ cheep.author.handle }} &mdash; {{ cheep.created | date:'short'}}</small></h4>
      <p>{{ cheep.content }}</p>
    </div>
  </li>
</ul>
